[user]
	name = Hoang Ngo
	email = hoangngo.dev@gmail.com
[github]
	user = hoangmngo
[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[diff]
	algorithm = patience
[alias]
	up = pull -v --rebase
	st = status --short
	cl = clone
	co = checkout
	cm = commit
	cma = commit -a
	cmm = commit -m
	br = branch -vv
	df = diff
	dfs = diff --staged
	rb = rebase
	ri = rebase -i
	rc = rebase --continue
	ra = rebase --abort
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cheery-pick --abort
	lg = log --graph
	bb = bisect bad
	bg = bisect good
	sm = submodule
	smi = submodule init
	smu = submodule update
	smui = submodule update --init
	amend = commit --amend
	info = config --list
	g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	w = whatchanged
	st = status --short
	up = pull -v --rebase
	p = push
	save = "!f() { git add . && git cmm "INCOMPLETE_WORK"; }; f"
	work = reset HEAD~1
	aa = add .
